/**
 * CSS-Stylesheet
 */
html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  outline: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto 15px;
}

.header {
  /**
   * Some styling...
   */
}

.nav {
  /**
   * Some styling...
   */
}

/**
 * You can use
 *   .nav > a.active
 * to highlight the current page in the navigation
 */

.content {
  /**
   * Some styling...
   */
}

.footer {
  /**
   * Some styling...
   */
}
